[2014-02-24 20:19] kmike opened #1 "Add an argument for watching arbitrary folders"
Currently it seems to watch doc source dir and doc output dir, but if autodoc extension is enabled watching python source code is also needed.

[2014-02-24 20:21] kmike opened #2 "Remove requirements.txt parsing from setup.py"
I think that `install_requires` with fixed package versions is too strict - it can unintentionally downgrade user packages.

[2014-02-24 20:22] kmike opened #3 "new version of livereload is released"
There is livereload 2.1.0 now, while requirements.txt wants 2.0.0, and README suggests using python-livereload master. What is the correct version?

[2014-03-23 12:00] #3 closed, assigned to nobody

[2014-03-23 12:05] #2 closed, assigned to nobody

[2014-05-02 20:47] chadwhitacre opened #6 "changes to files not being picked up"
I'm trying to use `sphinx-autobuild` on a Vagrant VM with an NFS shared folder. When I modify a file in the `srcdir` directory, I don't see the server reload as expected.

[2014-05-02 23:08] #6 closed, assigned to nobody

[2014-06-04 08:40] bubenkoff opened #8 "Add argument for ignored file pattern"
For example it's not possible to ignore .tmp files changed by the editor

[2014-08-21 08:23] bdejong opened #9 "Does not work on osx - with workaround"
On osx watchdog seems to be oblivious to file-changes (there are plenty of tickets and fixes for this in the watchdog space, but no attention given to them).

A workaround for this problem can be to also listen to directory changes:

[code]

This fixes the problem on OSX.

[2014-08-21 08:42] #9 closed, assigned to nobody

[2014-10-28 23:00] manasdk opened #13 "sphinx-autobuild is broken with addition of delay parameter to livereload/watcher"
Changes to python-reload at https://github.com/lepture/python-livereload/commit/d73e612eb949c3b6748b8939b95399cd34946b8f break sphinx-autobuild.

The error I see is -

[code]

The change on the sphinx side would have to be in the function https://github.com/GaretJax/sphinx-autobuild/blob/develop/sphinx_autobuild/__init__.py#L75

If possible will try to submit a patch.

[2014-11-04 04:49] timtan opened #17 "error in Mac OS X"
I got the following!

os:  Mac OS 10.10
libs:  I use a virtualenv. and download the latest version of sphinx and sphinx-autobuild
steps:  just type make livehtml as document say.

[code]

below are the output of pip freeze

[code]

hope the above message can help you guys reproduce the problem and thanks for the awesome package

[2014-12-23 10:18] #13 closed, assigned to nobody

[2014-12-23 10:19] #17 closed, assigned to nobody

[2014-12-23 10:24] #8 closed, assigned to nobody

[2015-01-27 19:29] ajylee commented on #1
I've rebased GaretJax's "1-arbitrary-watch" to v0.4.0.
Please see:
https://github.com/GaretJax/sphinx-autobuild/tree/feature/1-arbitrary-watch-0.4.0
I am also using it currently and it works fine.

@GaretJax
Can you please update your "1-arbitrary-watch" branch to my "1-arbitrary-watch-0.4.0"? I just extracted the feature as a patch and applied it to v0.4.0.

[2015-01-28 07:13] GaretJax commented on #1
Fixed in #22

[2015-01-28 07:13] #1 closed

[2015-03-06 15:21] montefra opened #24 "Global file name ignore"
I've just discovered your package and I seems very nice.

My setup:
* python 3.4
* Sphinx v1.2.3
* sphinx-autobuild v0.5
* vim as editor

As I'm using `autodoc`, I also want to follow the code directory, so I've added the option `-z "../mylib"`. This is easy.

But the autobuild fires every time I edit a file, e.g. `doc.rst`, as vim modifies `.doc.rst.swp` file, but does nothing as the file has not

[2015-03-06 15:29] montefra opened #25 "Build fires five times for after saving a file"
Somehow following #24. When I save a file, the sphinx is run 5 times, but only the first one does something. Is this to be expected?

This is what is printed on screen:

<pre>
+--------- source/4913 changed --------------------------------------------------
| Running Sphinx v1.2.3
| loading pickled environment... done
| building [html]: targets for 1 source files that are out of date
| updating en

[2015-04-03 15:17] GaretJax commented on #24
@montefra, could you please check if https://github.com/GaretJax/sphinx-autobuild/pull/26 solves your issue?

[2015-04-03 17:31] montefra commented on #24
Now I'm on holiday until next Tuesday. I'll try to remember to do it as soon as possible. If I don't come back within one week, please ping me.

[2015-04-03 22:10] GaretJax commented on #24
Don't worry, in the end it took me almost a month to answer.

[2015-04-06 17:59] bialix opened #27 "sphinx-autobuild does not work on WIndows: can't rebuild file on change"
I've installed Sphinx 1.3.1 and sphinx-autobuild 0.5 via pip to python 3.3 32 bit on my windows.
Run it with command:
D:\work\Opensource\intelhex\docs\manual>C:\Python\3.3-32\Scripts\sphinx-autobuild.exe . .build/html

Then started to edit part1-1.txt and got in the console:

+--------- part1-1.txt changed --------------------------------------------------
Exception in thread Thread-1:
Traceback (

[2015-04-06 18:01] bialix commented on #27
I've tried to execute sphinx-autobuild.exe from the Scripts directory where it's installed, providing full path to my docs sources and html directories, but anyway, no luck with re-build of the docs, now I have different error:

Exception in thread Thread-1:
Traceback (most recent call last):
  File "C:\Python\3.3-32\lib\threading.py", line 901, in _bootstrap_inner
    self.run()
  File "C:\Python

[2015-04-06 18:02] bialix commented on #27
I don't know why you need relative path, but this won't work on windows with its filesystem when there is more than 1 drive present.

[2015-04-07 14:53] bialix commented on #27
OK, it seems the only way to make it work:
- ensure both sphinx-autobuild and sphinx-build are in the PATH
- start sphinx-autobuild from the docs source directory.
Sorry for asking too much questions.

[2015-04-07 14:53] #27 closed

[2015-04-07 15:05] GaretJax commented on #27
We could probably make this better by allowing the user to specify/configure the path to the sphinx-build executable: https://github.com/GaretJax/sphinx-autobuild/blob/develop/sphinx_autobuild/__init__.py#L145

[2015-04-10 08:56] GaretJax commented on #24
Ping @montefra ;-)

[2015-04-10 09:01] montefra commented on #24
I'm just about to give a try. I hope to have an answer in few hours

[2015-04-10 12:24] montefra commented on #24
It works! Thank you.

    -r '\.\S+?swp' -r '__pycache__' -r '\S+?~'

avoids to build if anything like ``.*swp``, ``*~`` and ``*__pycache__*`` is modified.
When do you plan to push this into pypi.

[2015-04-10 14:55] GaretJax commented on #24
Cool! I'll add __pycache__ to the default ignores. Also, will probably release already today.

[2015-04-10 15:27] #24 closed

[2015-04-10 15:30] GaretJax commented on #24
@montefra I just released 0.5.1

[2015-04-10 15:35] GaretJax commented on #24
Just wait with updating, I introduced a bug... shall have waited for tests to pass, shame on me. Give me 5 minutes

[2015-04-10 15:41] GaretJax commented on #24
Ok, 0.5.2 is fine, enjoy!

[2015-04-10 16:13] montefra commented on #24
great. Thanks for the effort.
Excluding pycache by default is a good idea +1. I'll update next week.

[2015-04-20 09:34] bialix opened #28 "sphinx-rtd-theme: no icons on Previous/Next buttons, and homelink as well"
If I simply open static html in the browser, I get normal icons as expected.

But when the same html served by your tool, there is no icons:

![sphinx-rtd-theme-no-icons](https://cloud.githubusercontent.com/assets/82971/7227438/4f24831e-e759-11e4-84f2-5dedcc50daef.png)

C:\Python\2.7-32>python -m pip list
alabaster (0.7.3)
argh (0.26.1)
Babel (1.3)
backports.ssl-match-hostname (3.4.0.2)
certifi (1

[2015-04-29 12:22] pitrou opened #29 "unnecessary files are followed"
My text editor (Kate) can put swap files on disk when a file is modified without being saved. sphinx-autobuild apparently thinks it has to rerun a build each time such a swap file is modified:

[code]

[2015-05-01 07:45] orotau opened #30 "favicon.ico issue"
Ubuntu 14.04
Virtual environment using Python 3.4
Sphinx 1.3.1
sphinx-autobuild==0.5.2
`sphinx-quickstart -q --project="Soul Documentation" --author="Graham" -v 0.1 --no-makefile --no-batchfile`
`sphinx-autobuild . _build_html`

When I access 127.0.0.1:8000
this appears on the terminal
`[I 150501 18:11:06 web:1825] 200 GET / (127.0.0.1) 13.79ms`
`[E 150501 18:11:06 web:1421] Uncaught exception GET

[2015-06-11 18:05] jmagnusson opened #31 "Autoreload on code changes"
First of all, thanks for a great project.

One thing that would be awesome is if `sphinx-autobuild . _build/html` could also include checking if code has been updated for my project. Right now the autodoc parts of my documentation is not reflected when the docstrings change in the code. What do you think? Would this be possible to implement?

[2015-06-11 18:26] GaretJax commented on #31
Hi Jacob, this should already be implemented, you have to manually add the directory to watch using the correct flag.

Best,Jonathan

Apologies for any cryptic brevity or errors; this message was composed on a mobile device.

On Thu, Jun 11, 2015 at 8:05 PM, Jacob Magnusson <notifications@github.com>
wrote:

[2015-06-11 18:48] jmagnusson commented on #31
Indeed it did. Can't help but feel a bit stupid. Thanks!

[2015-06-11 18:48] #31 closed

[2015-06-11 23:39] GaretJax commented on #31
No problem. Have fun using the tool. :-)

[2015-06-11 23:49] jmagnusson commented on #31
Thanks!

I wonder though.. Why doesn't it also build the code when starting up? Having to run `sphinx-build` before with basically the same arguments feels a bit "pancake on pancake" like we say in Sweden :smile:

[2015-06-11 23:50] GaretJax commented on #31
I don't get the question. Could you show me what you're trying to achieve?

Best,Jonathan

Apologies for any cryptic brevity or errors; this message was composed on a mobile device.

On Fri, Jun 12, 2015 at 1:49 AM, Jacob Magnusson <notifications@github.com>
wrote:

[2015-06-11 23:54] jmagnusson commented on #31
[code]
It doesn't build the docs.

Instead I have to do:
[code]

[2015-06-11 23:58] GaretJax commented on #31
Oh, now I got it. Sorry it's late.

You're right, that could be useful and would also be easy to implement. Feel free to open an issue for that (or a PR :-).

Best,Jonathan

Apologies for any cryptic brevity or errors; this message was composed on a mobile device.

On Fri, Jun 12, 2015 at 1:54 AM, Jacob Magnusson <notifications@github.com>
wrote:

[2015-06-12 00:03] jmagnusson commented on #31
Might do it when I get some more spare time... What do you think, should the docs be re-built by default?

[2015-06-13 20:37] GaretJax commented on #31
Yes, I would do it by default, with a switch to turn it off.

[2015-07-08 22:15] cognifloyd opened #32 "Build at least once."
As mentioned in #31, [here](https://github.com/GaretJax/sphinx-autobuild/issues/31#issuecomment-111308873) , sphinx-autobuild needs to make sure that something is built before starting the livereload server.

Perhaps sphinx-autobuild could check the build directory to see if it doesn't exist or is empty, and then run sphinx-build on the whole project on startup. Or there could be a switch to alway

[2015-07-09 14:55] mikanbako commented on #25
I encountered the same problem, too.

Vim creates file named "4913" when the editing file saves for backup. The file named "4913" is actually the file that renamed the editing file. So sphinx-autobuild will build "4913". See https://bugzilla.redhat.com/show_bug.cgi?id=427711 for detail.

To resolve this issue, please try to set ["backupcopy"](http://vimdoc.sourceforge.net/htmldoc/options.html#'bac

[2015-07-09 15:04] montefra commented on #25
I'll test it. Thank for the info

[2015-07-10 12:28] sdawans opened #33 "SublimeText2: multiple unnecessary builds"
Hi. Great tool, keep up the good work!

This is very similar to #25, but concerns SublimeText2.

When I started using sphinx-autobuild with ST2, I was getting a large amount of builds, partly due to .TMP files being generated by Sublime.

## Saving with ST2 ##

    C:\doc\example>sphinx-autobuild source build/html
    [I 150710 14:11:45 server:271] Serving on http://127.0.0.1:8000
    [I 150710 14

[2015-07-10 12:35] sdawans commented on #33
OK - problem solved.

It turns out I'm using SublimeText3, not 2, which provides an option called `atomic_save` to save files without going through temporary files. So, all I had to do was add this line to the user options:

    "atomic_save": false

Don't know how I missed this page the first time around:

http://stackoverflow.com/questions/20634684/what-is-sublime-text-doing-when-i-save-a-file

[2015-07-10 12:35] #33 closed

[2015-09-04 05:59] rouge8 commented on #31
@GaretJax this doesn't seem to work for me? When I save, it triggers the rebuild as expected, but the built content is not actually changed.

Command:

[code]

Output:

[code]

[2015-09-08 19:00] rouge8 opened #34 "Documentation does not update on changes to code/theme/static files"
Extracted from my comment on #31: When I save, it triggers the rebuild as expected, but the built content is not actually changed.

Command:

[code]

Output:

[code]

[2015-10-19 18:24] nfarrar opened #35 "Support watching file list & patterns"
While [python-livereload](https://github.com/lepture/python-livereload) will take a list of files or pattern (i.e. `PROJECT_ROOT/*.rst`), it looks like sphinx-autobuild will only allow you to specify an extra path. I was specifically trying to use this to rebuild my docs when it sees an rst file in the root directory change (they are included in the docs) - globs wouldn't work and passing in the r

[2015-10-20 08:22] GaretJax commented on #35
@nfarrar you can use the `-r`/`--re-ignore` option to specify one or more regexes for paths to be ignored. My guess is that `-r _build/.*` should work.

See here for the implementation:
* https://github.com/GaretJax/sphinx-autobuild/blob/develop/sphinx_autobuild/__init__.py#L31-L34
* https://github.com/GaretJax/sphinx-autobuild/blob/develop/sphinx_autobuild/__init__.py#L222
* https://github.com/Ga

[2015-11-09 22:57] ssdc opened #37 "sphinx-autobuild can't find the correct resources directory"
*Background*: I'm working on an RTFM project and was able to run sphinx-autobuild until just recently.

*Specific issue*: When running `make livehtml` on Mac OS X 10.11.1, I now throw the following error:

`-bash: /usr/local/bin/sphinx-autobuild: /usr/local/Cellar/python/2.7.6/Frameworks/Python.framework/Versions/2.7/Resour: bad interpreter: No such file or directory`

Which is likely the result o

[2015-11-10 02:35] ssdc commented on #37
Update...

I restored the python 2.7.6 install from a TimeMachine backup and am able to build again. Seems like the issue is indeed related to the python upgrade + `brew clean` operation.

[2016-01-01 14:01] KellyChan opened #38 "sphinx-autobuild could not detect the changes if setting up the DevEnv with Virtualbox and modifying the files on the host"
An interesting scenario:

My develop environment is
- OSX 10.10.5
- Virtualbox + Vagrant + Ubuntu 14.04
- sphinx + sphinx-autobuild

If I `vagrant ssh` to my VM (Ubuntu 14.04), and updated `*.rst` files on the VM, `sphinx-autobuild` could work pretty fine, it could automatically detect any changes.

If I updated the `*.rst` files on my OS X (the folder has been mounted to my VM using Vagrantfile),

[2016-01-19 14:01] rmk135 opened #39 "Bug with livereload==2.4.1"
Hi, folks!

I've got some issues today and my short investigation showed me that the root cause is in new version of `livereload` lib. Please, check my output:

[code]

[2016-01-19 14:03] rmk135 commented on #39
Also I found livereload 2.4.1 has been published just today

[2016-01-19 15:16] breisfeld opened #40 "Error when running sphinx-autobuild in python 3.5 on Windows 7"
I installed sphinx-autobuild using

[code]

I am using anaconda python:

[code]

Here is the traceback:

[code]

[2016-01-19 21:41] rmk135 commented on #40
Duplicate of #39

[2016-01-19 21:41] rmk135 commented on #40
As a quick fix you can do:

[code]

[2016-01-19 22:27] breisfeld commented on #40
Thanks. I'll give it a try.

By the way, kudos for this excellent package! It saves so much time and effort.

[2016-01-21 16:33] madisonb commented on #39
@rmk135 Downgrading `livereload` back to `2.4.0` solved my issue. Culprit seems to be at https://github.com/GaretJax/sphinx-autobuild/blob/develop/requirements.txt#L7

[2016-01-21 17:07] rmk135 commented on #39
@madisonb Yeah, but it is still just a break-fix.

It would be good if someone could investigate `livereload` API changes and make corresponding changes in `sphinx-autobuild`, cause currently all new install are broken due this issue.

Other thing that could be done is just putting a restriction to the https://github.com/GaretJax/sphinx-autobuild/blob/develop/requirements.txt#L7 like a `livereload

[2016-01-28 22:17] eblur commented on #40
I've attempted the livereload==2.4.0 work around and I still get a very similar error.

[code]

[code]

[2016-02-13 22:13] #39 closed

[2016-02-13 22:13] #40 closed

[2016-02-13 22:18] #29 closed

[2016-02-13 22:29] #32 closed

[2016-02-13 22:38] #37 closed

[2016-02-13 22:39] #35 closed

[2016-02-13 22:46] #38 closed

[2016-06-02 08:46] #25 closed

[2016-06-02 09:11] montefra opened #45 "Code stuck before starting the server"
Hi,

recently the autobuild is miss-behaving.

If I run from scratch, it correctly builds the documentation, but then get stuck just before starting the server:

[code]

 If I `ctrl+C` I get:

[code]

If I rerun I get:

[code]

Then when I modify something, the documentation is rebuilt, but it stop at:

[code]

and `ctrl+c` simply shut down the server.

[2016-08-15 15:23] Startouf opened #48 "Watching other directories"
I'm not sure more an issue or a feature request, but given the following directory structure

[code]

One on the main document files in `doc/sphinx/` require a file located outside the main doc directory `.. include:: ../../benchmark/report.rst`

That file `../../benchmark/report.rst` is not being watched. Would it be possible to specify additional directory to watch ? Or maybe we could specify a

[2016-08-15 15:47] GaretJax commented on #48
Hi @Startouf, if I understand correctly, what you're asking is already implemented. See the `-z` flag: https://github.com/GaretJax/sphinx-autobuild/blob/develop/sphinx_autobuild/__init__.py#L240

[2016-08-15 17:32] Startouf commented on #48
Oh waoh, that was even in the main readme... sorry about that.

[2016-08-15 17:32] #48 closed

[2016-08-15 19:23] Startouf opened #49 "Infinite loop if error during a plot"
I am watching a directory containing plot code with the `-z` flag. This directory contains graph python code that I am reading in a documentation file using the `plot` directive.

[code]

There is an infinite loop if those python scripts crash during execution (cf the `raise ValueError code`)

Also for some reason the watch line writes `doc/sphinx/benchmark/pyplots/scalability.py changed`instead o

[2016-09-21 10:21] 7enderhead opened #50 "File System 'Jitter' Results In Many Unnecessary Rebuild Triggers"
- editing rst files with Vim + savevers autbackup feature
- this results in a file's timestamp to be changed multiple times on each save
- sphinx-autobuild is triggered by the first change -> rebuild
- all subsequent file system changes are already queued and get processed -> useless rebuilds
- proof of concept quick and dirty hack in SphinxBuilder.__call__:
  - remember time of last call to build

[2016-12-12 11:34] mgielda opened #51 "Supporting PDF builds"
I was wondering if it would be possible to use sphinx-autobuild also for PDF output. Since viewers like evince support reloading documents on change, it is actually just as convenient as previewing in the browser, and much of the documentation we generate is intended for PDF usage.

Currently I am using a dirty script which reruns `make latexpdf` every time files change, but it would be interestin

[2017-01-21 11:36] mgeier commented on #51
I don't know if it is feasible to include this directly into sphinx-autobuild.

However, I'm using sphinx-autobuild for updating the LaTeX output and at the same time [latexmk](http://personal.psu.edu/jcc8//software/latexmk-jcc/) in "preview continuous" mode. I have to start two processes (in two terminals), but apart from that, the update of the PDF happens automatically.

I don't know about your

[2017-01-21 12:15] mgielda commented on #51
Thanks for the info, latexmk sounds like a very good idea. Well then, my question would be - would it be possible to have a flag not to turn on the built-in web server? If you just want to build LaTeX, that's kind of unnecessary.

[2017-04-19 09:19] edmorley opened #53 "Add Python 3 trove classifiers to setup.py"
To help assist tools like https://caniusepython3.com/ it would be useful to add Python 3 trove classifiers to setup.py, eg:
[code]

[2017-04-19 20:21] vairamsvsjdo commented on #40
can this be deployed to pip as a dot release?
Is it available in pip? If yes, what is the version number

[2017-04-21 20:46] qiuwch commented on #49
I also have this issue. I think it is because when the plot is generated, the output is detected as file changes. So everything is started again.

[2017-05-16 18:09] toolness opened #54 "On Windows, text after errors occur is black-on-black"
I'm not sure if this is specifically a sphinx-autobuild problem or something that's due to a dependency or my system configuration, but I've noticed that when I run sphinx-autobuild on a Windows 10 system, all text after an error occurs is black text on a black background:

![2017-05-16_14-04-58](https://cloud.githubusercontent.com/assets/124687/26121029/d9a62c18-3a40-11e7-8d8a-5f8fb1c2ac2e.png)

[2017-07-05 07:23] #53 closed

[2017-07-05 10:35] chohner opened #56 "Hidden docs\.venv folder in pypi tar"
In the newest pypi .tar download for 0.7.0 (https://pypi.python.org/pypi/sphinx-autobuild/0.7.0), there is a hidden `docs\.venv` folder. It makes the .tar file size explodes to 11mb (final folder size is 33mb) and wasn't there in `0.6.0`.

Probably should be removed.

[2017-07-05 10:54] GaretJax commented on #56
Probably...

Thanks for catching that @chohner, shame on me :smile:

This should not happen anymore in the future: https://github.com/GaretJax/sphinx-autobuild/commit/f3c3c51287706152745fe6e259f6ce347647cfe2

Also, 0.7.1 released.

[2017-07-05 10:54] #56 closed

[2017-07-08 02:21] alexdresko opened #57 "How to quit/exit/shutdown sphinx-autobuild on Windows?"
CTRL+C, CTRL+Q, CTRL+X, ESC... nothing works besides closing the console window.

[2017-07-18 08:47] bachp opened #58 "Support custom path for sphinx-build"
Currently `sphinx-autobuild`  expects `sphinx-build` to be in `PATH`.

One way to support a custom path would be to honor the `SPHINXBUILD` environment variable.

[2017-10-31 22:18] superwhoopy commented on #58
A side-effect is that if `sphinx-autobuild` is installed in a virtualenv, it cannot be called "directly"' for instance if your root Makefile defines this targe:

[code]

it will try to call `sphinx-build` from PATH - and ultimately fail if Sphinx is only installed in the virtualenv.

I've made a (rather stupid) patch, where I call the Sphinx API directly rather than using `Popen()`, if you're inte

[2017-11-20 17:56] mireille-raad opened #62 "run in background ?"
Is there an option to run sphinx-autobuild in background? the same way that you would do with -d parameter in docker?

[2017-11-24 11:36] leharj opened #63 "Multiple Projects on same port"
It gives error now but would be really cool and helpful if achieved

[2017-11-24 11:36] leharj commented on #63
It gives error now but would be really cool and helpful if achieved

[2018-01-18 14:07] nwwells opened #64 "Support newly documented (but previously available) -M option"
See https://github.com/sphinx-doc/sphinx/pull/3938/files for the documentation, and https://github.com/sphinx-doc/sphinx/blob/master/sphinx/make_mode.py for implementation

Basically `-M` is a alias for `-b` with some additional handling for other features like a `help` and LaTeX.

Assuming this is just something we can pass through, it would allow me to do something like

[code]

and simply use s

[2018-04-08 18:37] rowanG077 commented on #64
I have implemented this feature: https://github.com/rowanG077/sphinx-multibuild

[2018-04-08 18:38] rowanG077 commented on #58
I have implemented this feature: https://github.com/rowanG077/sphinx-multibuild

[2018-04-08 18:38] rowanG077 commented on #51
I have implemented this feature: https://github.com/rowanG077/sphinx-multibuild

[2018-04-09 08:27] rowanG077 commented on #51
I made a tool similiar to this one which offers pdf builds and also multiple input directories:

https://github.com/rowanG077/sphinx-multibuild

[2018-04-23 07:39] Ramblurr commented on #34
Its not just code affected by this but static resources like css too.

[2018-05-28 01:27] drscotthawley opened #65 "pip install fails: "ModuleNotFoundError: No module named 'setuptools.wheel'""
Hi, I've been trying to install sphinx-autobuild using the recommended pip install, but it fails.  sphinx installs fine, but sphinx-autobuild gives the following errors below...    This is with Anaconda Python 3.6 on Ubuntu Linux 16.04.  It seems as if setuptools isn't installed, at yet it is:

[code]
Here is the build log:

[code]

I also tried installing via conda (https://anaconda.org/conda-for

[2018-05-28 01:28] drscotthawley commented on #65
Resolved.   Even though this was with a fairly recent conda environment, somehow setuptools had gotten corrupted.

Fix was:
$ pip uninstall setuptools
$ pip install setuptools
$ pip install sphinx-autobuild

[2018-05-28 01:28] #65 closed

[2018-06-12 09:59] symonsoft opened #66 "sphinx-autobuild isn't accessible from command line after installation"
sphinx-autobuild isn't accessible from command line after installation with pip:

    $ sphinx-autobuild
    sphinx-autobuild: command not found

Ubuntu 16.04

[2018-08-27 18:56] cag opened #67 "Doctrees cache causing build loop"
To reproduce, simply instrument a project with the ReadTheDocs [Getting Started](https://docs.readthedocs.io/en/latest/getting_started.html) guide, then try to use `sphinx-autobuild . _build/html`.

See the documentation about the default behavior for the doctree build output [here](http://www.sphinx-doc.org/en/master/man/sphinx-build.html#cmdoption-sphinx-build-d).

This causes projects to rebuil

[2018-09-04 14:12] ebw44 commented on #34
I've got a similar issue with sphinx.ext.todo. The .. todolist:: doesn't get updated if the rst file that contains it is not modified and you only add a .. todo:: in another file.
I suppose sphinx-autobuild is building only files that have changed, it can however update references from toctree, so it would be great if it could also work for todo.

PS: Thanks for the great tool by the way.

[2018-09-07 18:18] steve-chavez commented on #67
Running into the same issue when trying to build these docs https://github.com/PostgREST/postgrest-docs,  it loops like 6 times making the refresh really slow,  also the `-d` work around didn't do it for me, I ran the command like:
[code]
@cag Any advice for making the `-d` option work?

[2018-09-07 18:58] cag commented on #67
@steve-chavez Oddly enough, I ran `sphinx-autobuild . _build` on postgrest-docs and everything worked fine, with _no_ doctrees being generated at all. Running `sphinx-autobuild -d _build/doctrees . _build` generates doctrees, but also works fine. This is very strange... I'm not sure why this is happening.

[2018-09-07 19:06] steve-chavez commented on #67
@cag There's a `build/.doctrees`(notice dot) generated though, also I've noticed that even when doing an `ls` the autobuild starts with a `.git/index.lock changed` message, and the `--ignore .git/` doesn't seem to be working.

[2018-09-07 19:20] steve-chavez commented on #67
Some sensible defaults would be a good addition to the project. For now I've switched to plain livereload https://livereload.readthedocs.io/en/latest/, the sphinx example is working fine.

[2018-09-10 10:45] ggalmazor opened #68 "Can't reach server running inside Docker container"
Hi! I'm wrapping my sphinx dev environment inside a Docker container to make it portable and easier to use for other users and I'm interested on adding sphinx-autobuild into it.

Up to now, I was able to run a `python -m http.server` inside the container and access it from my host machine, no problem.

I've made some tries with sphinx-autobuild and the building part works great but I can't access

[2018-09-14 16:40] HarisGodil opened #69 "Optional argument to run script / bash cmd on rebuild event"
My use case:
I have a script which I currently run before sphinx-build that automatically places automodule directives in the relevant files, so that my test documentation will pull in the appropriate docstrings.

Having the ability to add `--run ./link_tests` would allow me to keep all the functionality I'm currently getting in my workflow of manually rebuilding

I'm planning on working on this (

[2018-12-13 19:56] tkhyn opened #71 "Way to use tornado's static file handler?"
Hi and thanks for sphinx-autobuild,

I have issues retrieving large-ish JS files through tornado that's used behind the scenes by livereload.

My documentation requires mathjax, which files are downloaded and served locally through sphinx-autobuild. When the documentation tries to retrieve MathMenu.js (which is 32.8 kb), I get the following error:

[code]

I'm opening this issue here because as fa

[2019-01-05 18:08] epicserve opened #73 "Yaml Vulnerability"
FYI, I got a notification from Github that my project that has sphinx-autobuild in it had a vulnerability in the pyyaml package.

When I run `pipenv graph` it showed that it was sphinx-autobuild that had pyyaml as a requirement. I added a specific requirement for pyyaml in my project for now, but would like to remove it as soon as sphinx-autobuild has been updated.

I could make a PR for this proj

[2019-01-29 18:38] iicky commented on #68
@ggalmazor

I ran into this same issue - the trick for me was to change the host from `127.0.0.1` to `0.0.0.0`. Here is my CMD in my `Dockerfile` (I am running on port 8181):

[code]

[2019-01-29 18:41] ggalmazor commented on #68
Thanks, @iicky!

Honestly, I had solved the issue somehow. I'll review what I did and leave feedback here :)
(might as well be just what you've commented)

[2019-01-29 18:58] iicky commented on #68
@ggalmazor Awesome, keep me posted - definitely excited about having this tool!

[2019-01-31 07:31] ggalmazor commented on #68
I guess we can close the issue now :)

[2019-01-31 07:31] #68 closed

[2019-02-21 15:37] bocekm opened #74 "sphinx-build dependency missing"
I've installed sphinx-autobuild through pip on Fedora 29.
After running `sphinx-autobuild -z <codesourcepath> "<docspath>" "<outputpath>"` I'm getting:
[code]
By further investigation I found out that I'm missing sphinx-build executable. I believe this should be marked as dependency. Or at least improve the error message.

* the `args` contained `['sphinx-build', '-v', '-T', '<valid path>', '<vali

[2019-03-02 14:09] epicserve commented on #73
@GaretJax, any chance you could update the requirement and make a release?

[2019-04-05 17:20] slestak commented on #57
Ctl-C works for me on Win10 (1709) in powershell console.

[2019-04-05 17:23] slestak commented on #50
--ignore argument resolves this I believe.

[2019-04-06 08:08] AmauryOrtega commented on #73
@epicserve Can you do the PR? The security warning in Github must be alerting a lot of people.

[2019-05-28 06:42] aaronraimist commented on #67
I know you found a solution but just adding a note here to say that the `--ignore` option is looking for either an exact match on the file name or a wildcard card character. So ` --ignore .git/` would only ignore changes to `.git/` itself. `--ignore .git/*` is what you want.

[2019-08-04 05:26] nkuttler commented on #50
I think I have the same problem when using git:

* all subsequent file system changes are already queued and get processed -> useless rebuilds

Whenever I switch branches I get a new sphinx build for each changed file into the queue, but I only need one single rebuild of the docs. Neither --delay nor --poll seem to help with this, I was hoping that polling would disable inotify (which I assume is

[2019-08-06 18:55] slestak commented on #50
you git repo can be excluded using -r?
________________________________
From: Nicolas Kuttler <notifications@github.com>
Sent: Sunday, August 4, 2019 1:26 AM
To: GaretJax/sphinx-autobuild <sphinx-autobuild@noreply.github.com>
Cc: Steve Romanow <slestak989@outlook.com>; Comment <comment@noreply.github.com>
Subject: Re: [GaretJax/sphinx-autobuild] File System 'Jitter' Results In Many Unnecessary Reb

[2019-08-06 19:13] nkuttler commented on #50
Did somebody comment and delete their comment? -r doesn't solve the problem at all, excluding the repository is wrong because large parts of the sphinx documentation are docstrings and such.

[2019-08-06 19:55] slestak commented on #50
I did delete my comment, I apologize.  It was redundant with the --ignore info discussed above.  I'll leave this here.

[2019-08-07 14:09] nkuttler commented on #50
Neither --ignore nor --re-ignore seem related to the problem described here. The problem seems to be that watchdog fills up the queue with events that are irrelevant to sphinx-autobuild, and that the queue should be cleared sometimes. Otherwise sphinx-autobuild will repeat the same action with the same outcome over and over and just use up system resources.

Looking at the watchdog I couldn't find

[2019-10-18 13:21] bskinn opened #77 "NotImplementedError raised when sphinx-autobuild tries to start tornado server on Python 3.8"
*Transferred from https://github.com/tornadoweb/tornado/issues/2756 based on discussion there.*

-------

I just upgraded my Windows Python to 3.8.0 amd64, and now [`sphinx-autobuild`](https://github.com/GaretJax/sphinx-autobuild) is failing when it tries to bring up the web server. Based on the traceback, it looks to be a problem in `tornado`, trying to use a non-implemented (no-longer-implemente

[2020-01-08 10:25] sirex commented on #74
And it would be nice to have a command line flag for manually specifying `sphinx-build` executable location.

[2020-05-30 08:29] binarylandscapes commented on #34
I have a similar issue with .jinja files. autobuild detects the update to the Jinja file but has no knowledge to drive a rebuild of the .rst file(s) that uses it, so the actual document doesn't update. I have to just resave the .rst file to update. That works for one .rst file but not if the template is used in multiple different .rst files.

[2020-06-16 19:22] asmeurer opened #79 "Automatic Makefile integration"
I wonder if you've considered whether it's possible to add the Makefile integration automatically? Sphinx projects that are generated with a modern version of Sphinx use

[code]

which calls out to https://github.com/sphinx-doc/sphinx/blob/0bb43d6b99abd1c31885489765d4fe5469d56e21/sphinx/cmd/make_mode.py.

You could monkey-patch the `Make` object in that file to add `make livehtml`. The only thing

[2020-08-06 04:49] ngzhian commented on #62
You can probably use your shell's background option, e.g. in bash: `sphinx-autobuild <options> &`

[2020-08-06 04:52] ngzhian opened #80 "python script using livereload-python"
Thanks for this project! It makes my workflow really smooth.
I found some issues with spurious building and reloads, it looked like it was maybe too eagerly watching changes to files.
I looked up the livereload-python package (used by this), and found that they have a simple [script](https://github.com/lepture/python-livereload#script-example-sphinx):

[code]

Leaving this here in case anyone face

[2020-08-10 19:06] pradyunsg opened #81 "Maintainance status -- new release soon!"
Hey @GaretJax!

I see that this package hasn't been updated in a while. Is this still actively maintained? If not, would you be OK with transferring maintainership of this project to someone else (either an individual - I am happy to volunteer for that - or an org like jazzband or executablebooks)?

[2020-08-10 20:10] chrisjsewell commented on #81
Yes we at https://github.com/executablebooks would most probably be happy to take it on

[2020-08-10 20:13] chrisjsewell commented on #81
And obviously still set you as an one of the owners

[2020-08-11 08:11] GaretJax commented on #81
Hi @pradyunsg, thanks for the offer. I think there have been talks between @evildmp and jazzband in the past about this, but I don't know what the status is there; that would be my preferred solution.

I didn't know about executablebooks @chrisjsewell, but it looks like you do a lot of sphinx indeed, so it may be even a better home.

[2020-08-11 08:21] chrisjsewell commented on #81
oh yes a lot lol! and @pradyunsg has been helping us out on the web design side of things which is obviously where this package comes in very handy. We're just integrating into our development process (see https://github.com/executablebooks/sphinx-book-theme/pull/172) so would certainly like to keep it active.

But yeh naturally its entirely up to you, but just let us know if you do want to and I

[2020-08-11 09:02] GaretJax commented on #81
Could we start maybe by adding @pradyunsg (and you @chrisjsewell, don't know how you're organized) to this repo and see how things go? If all goes well, I'm then happy to transfer it to another org.

[2020-08-11 09:03] chrisjsewell commented on #81
yep no problem, sounds good to me 👍

[2020-08-11 09:39] GaretJax commented on #81
Who shall I add?

[2020-08-11 09:56] chrisjsewell commented on #81
@pradyunsg you opened the issue so should have first refusal 😊

[2020-08-11 10:00] pradyunsg commented on #81
Sounds great to me!

Please feel free to add me (and @chrisjsewell, if they say they're OK with it) here and we'll take it from there. :)

[2020-08-11 10:04] GaretJax commented on #81
@pradyunsg you have access as a collaborator to the repo.

[2020-08-11 10:08] pradyunsg commented on #81
Oh awesome! Thank you! ^.^

My next instinctive question is, PyPI access. Would you be willing to give me publish access on PyPI as well? (same username there, https://pypi.org/user/pradyunsg/)

[2020-08-11 10:11] chrisjsewell commented on #81
Well we could just move the testing/deployment to GitHub actions.
Then it just requires an API secret being set on the repository 😉

(like https://github.com/executablebooks/MyST-Parser/blob/master/.github/workflows/tests.yml)

[2020-08-11 10:19] pradyunsg commented on #81
We certainly can/should do that, but my concern stems more from a bus factor perspective for this project. :)

[2020-08-11 11:34] GaretJax commented on #81
I'll give you access in due course @pradyunsg ;-)

[2020-08-11 11:39] pradyunsg commented on #81
Sounds fair to me! ^>^

[2020-08-11 14:51] choldgraf commented on #81
Damn we will have to refactor our plans to install crypto miners in everybody's Sphinx builds 😅

but seriously - thanks @GaretJax for inviting collaboration on this repo!

[2020-08-11 19:10] pradyunsg commented on #81
LOL

I'm pretty sure we have access to better "targets" if we really wanted to spread crypto miners around. 😂

[2020-08-11 20:59] GaretJax commented on #81
I knew it!

[2020-08-20 06:52] pradyunsg commented on #28
I'm unable to reproduce this with the current Sphinx-RTD-theme:

[code]

I'll go ahead and close this eagerly since this is an extremely old issue and I'm not able to reproduce this.

[2020-08-20 06:52] #28 closed

[2020-08-20 07:44] pradyunsg commented on #80
Thanks for sharing this. :)

[2020-08-20 07:44] #80 closed

[2020-08-20 12:07] pradyunsg commented on #64
Looks like a reasonable request!

[2020-08-20 12:11] pradyunsg commented on #62
Sounds like a reasonable request. We can probably do a `--detach` flag for this.

[2020-08-20 12:14] pradyunsg commented on #79
I don't think we can add a Sphinx builder for this (that's what -M would call).

Instead of adding a layer of complexity in the form of trying to automate the modification of the Makefile, I think documenting how a user can add a `livehtml` task should be sufficient. The instructions need updating AFAICT.

[2020-08-20 12:16] pradyunsg commented on #34
This seems to be caused by https://github.com/sphinx-doc/sphinx/issues/2090 -- Sphinx itself isn't handling such changes correctly in incremental builds.

Looks like fixing upstream might be easier than working around this behavior locally. I'll look into this, hopefully soon-ish.

[2020-08-20 12:18] pradyunsg commented on #77
Whee. Looks like a bug to be fixed.

PRs welcome.

[2020-08-20 12:18] pradyunsg commented on #74
Hah. That's a good point. :)

And, the related request seems to be for #58.

[2020-08-20 12:19] pradyunsg commented on #58
Sounds like a good idea!

[2020-08-20 12:21] pradyunsg commented on #66
You should've seen a warning from pip if you have a recent-enough version of pip. Otherwise, please debug the issue with your `PATH` environment variable.

I'm gonna close this since I'm pretty sure anyone with a recent-enough pip version should see the warning that I implemented in https://github.com/pradyunsg/pip/commit/fc7ca264892767454b166d0fc001a6ca95bde22e.

[2020-08-20 12:21] #66 closed

[2020-08-20 12:25] pradyunsg commented on #54
Thanks for reporting this! ^>^

Could someone confirm whether this behavior is visible with the current versions of Sphinx and `sphinx-autobuild`? In case it's not, I'm inclined to close this in a week or so, if no one flags this as still-a-problem.

[2020-08-20 12:28] pradyunsg commented on #57
Closing since this is an old issue without enough information to provide support.

[2020-08-20 12:28] #57 closed

[2020-08-20 12:29] pradyunsg commented on #67
Interesting! Looks like a reasonable bug to be fixed.

[2020-08-20 12:30] pradyunsg commented on #50
Definitely something that needs to be fixed.

[2020-08-20 12:32] pradyunsg commented on #63
If you try to serve multiple projects on the same port, that's can't work.

See https://stackoverflow.com/questions/1694144/can-two-applications-listen-to-the-same-port.

[2020-08-20 12:32] #63 closed

[2020-08-20 12:33] pradyunsg commented on #69
Sounds like a reasonable request!

[2020-08-20 12:34] pradyunsg commented on #30
I can't reproduce this with the current version of Sphinx, and the Sphinx version seems to be really old here.

Gonna say that this got fixed upstream at some point.

[2020-08-20 12:34] #30 closed

[2020-08-20 12:35] pradyunsg commented on #45
Hi!

This is a really old issue, but by any chance, do you know *why* this might have been occurring? And, if someone has a way to reproduce this, that'd be great! :)

[2020-08-20 12:36] pradyunsg commented on #49
Yup! A file that gets generated like that triggers a loop.

Maybe, we need some sort of loop-detection logic here. Hmm...

[2020-08-20 12:37] pradyunsg commented on #71
I don't! Maybe @GaretJax does.

[2020-08-20 12:39] pradyunsg commented on #51
AFAIK, this should be possible today with `-b latex`. Am I missing something here?

[2020-08-20 15:54] asmeurer commented on #79
I think with a little bit of modification on the Sphinx side it would be straightforward for projects like this to add custom Sphinx make entrypoints.

[2020-08-20 17:57] asmeurer commented on #79
Just to be clear, I agree that sphinx-autobuild shouldn't attempt to modify people's Makefiles. If I'm reading the code in the module I linked to correctly, to make sphinx-build -M work it should be sufficient to monkeypatch Sphinx like

[code]

If for some reason that doesn't work we should work with Sphinx to make it so extensions can more easily extend this (and that should probably be done any

[2020-08-21 07:08] GaretJax commented on #71
Tornado should be more than capable of handling files of 30kB of size. It looks like a different issue caused by a mismatch between the computed file size and the actual data in the file. If I have to guess, maybe an encoding issue around this location: https://github.com/tornadoweb/tornado/blob/master/tornado/web.py#L2598

What version of tornado and Python is this happening on (if it is still ha

[2020-08-24 20:11] chrisjsewell opened #87 "Rebuild throttling"
It looks like `sphinx-autobuild` does have some rebuild throttling, i.e. it doesn't rebuild for every character you type.
But I don't see any configuration currently for the time intervals involved?

It would also be interesting to consider configuration for turning off builds e.g. if the change is only adding new-lines/whitespace.

At the extreme, it would also be interesting if you could restric

[2020-08-26 17:55] #58 closed

[2020-08-26 17:55] #74 closed

[2020-08-26 18:16] pradyunsg commented on #87
This project only builds when files are modified in the directories that it is "watching". If you modify `docs/index.rst`, this project will detect that the file was modified and trigger a build based on that change.

Are you looking for more granular control over the delays in builds? If so, in what way do you envision it working?

[2020-08-26 18:50] pradyunsg commented on #34
Does anyone have a minimal reproducer for this issue?

[2020-08-26 18:51] pradyunsg commented on #50
This might be fixed by #88.

Could someone try the current master (`pip install https://github.com/GaretJax/sphinx-autobuild/archive/develop.zip`) and confirm whether this behavior is now fixed?

[2020-08-26 18:51] pradyunsg commented on #67
This should be fixed by #88.

Could someone try the current master (`pip install https://github.com/GaretJax/sphinx-autobuild/archive/develop.zip`) and confirm whether this behavior is now fixed?

[2020-08-26 18:53] pradyunsg commented on #45
Closing since this is really old and I don't expect OP to respond looking at their GH activity.

[2020-08-26 18:53] #45 closed

[2020-08-26 19:11] pradyunsg commented on #71
<img width="1313" alt="Screenshot 2020-08-27 at 12 40 06 AM" src="https://user-images.githubusercontent.com/3275593/91346021-e3a1df00-e7fd-11ea-82ee-6238756732f1.png">

I'm unable to reproduce the issue you're reporting.

[2020-08-26 19:16] pradyunsg commented on #79
Uhhhhh... I'm not a fan of monkeypatching to provide functionality as part of an addon/extension.

[2020-08-26 19:22] asmeurer commented on #79
Well then we circle back to "Sphinx should be modified so that extensions can more easily add makefile integrations.". Although I expect such a Sphinx modification would be nothing more than a "register_make_mode" function which would do exactly what I said.

[2020-08-26 19:29] pradyunsg commented on #79
Indeed. I guess we're blocked on Sphinx making changes on their end. And, that seems unlikely given that they're trying to move away from generating makefiles: https://github.com/sphinx-doc/sphinx/issues/5618

[2020-08-26 19:54] asmeurer commented on #79
I didn't know about that. Hopefully the new `sphinx` command is properly extensible by extensions.

@tk0miya what are your thoughts on this? Is the new `sphinx` command coming soon? Should Sphinx add a `register_make_mode` function for extensions to add their own make entry points? Is it OK for extensions to patch `sphinx.cmd.make_mode` as I described here https://github.com/GaretJax/sphinx-autobu

[2020-08-26 20:12] #69 closed

[2020-08-27 06:56] tkhyn commented on #71
Hi and thanks for looking into it,

It looks like only Mathjax.js gets loaded and to trigger requests for other files you need to add a mathjax formula to your `index.rst`, such as:

[code]

[2020-08-27 07:39] pradyunsg commented on #71
Got it!

[code]

Download and extract https://github.com/mathjax/MathJax/archive/2.7.7.zip in _static/mathjax + use this conf.py:

[code]

Commenting out mathjax_path makes things work.

[2020-08-27 07:49] pradyunsg commented on #71
https://github.com/mkdocs/mkdocs/issues/1351 -- mkdocs hits the same issue.
https://github.com/tornadoweb/tornado/issues/2743 seems related.

https://github.com/lepture/python-livereload/issues/174 -- pretty sure this is an issue with vanilla python-livereload.

[2020-08-27 08:04] pradyunsg commented on #71
[code]

Huh. This and MathZoom.js both fail like this.

[2020-08-27 10:06] pradyunsg commented on #71
It's not the file size that's the issue here.

MathZoom.js contains the string "</head>". This triggers [`LiveScriptInjector.transform_first_chunk`](https://github.com/lepture/python-livereload/blob/f14bd7e1685e7b8ee1906eb391d924e1f46d26d4/livereload/server.py#L110) in python-livereload, which modifies the header but the chunk isn't supposed to be modified. This breaks an assumption in a different

[2020-08-27 10:38] pradyunsg commented on #71
Okay, I lied. See #91.

[2020-08-27 10:54] #71 closed

[2020-08-27 11:05] pradyunsg commented on #81
Ahoy @GaretJax! I think we're almost ready for a release.

- Would you be willing to transfer the project to the executablebooks organization?
- PyPI access would be nice to have, to actually make the release. 🙃

[2020-08-27 11:12] pradyunsg commented on #34
This behaviour is now documented under https://github.com/GaretJax/sphinx-autobuild#relevant-sphinx-bugs. I'm not going to be able to contribute the patch to fix this upstream, but for the time being, I think this documentation-only fix is sufficient.

If someone has any suggestions for how we can workaround this issue more transparently, while not being a big maintainance burden, I'm all ears. :)

[2020-08-27 11:14] pradyunsg commented on #34
Going to go ahead and close this now as a `wontfix`, since I genuinely don't think that there's anything that can be done at the level of this tool to fix this issue.

If someone does think there is something we can do, please feel free to drop a comment here. It's not like closed issues can't be reopened. :)

[2020-08-27 11:14] #34 closed

[2020-08-27 11:30] pradyunsg commented on #81
#93 and #94 await @GaretJax's OK (and PyPI access).

[2020-08-27 11:31] pradyunsg commented on #81
I don't think this project needs RTD docs. :)

[2020-08-28 08:21] tkhyn commented on #71
Thanks a lot, that works provided that `PosixPath` is replaced by `PurePosixPath` so that it can run on Windows too.

It looks like there is a bit of recent activity on python-livereload, maybe submitting a PR other there rather than monkey-patching could fix it for good for other livereload users?

[2020-08-28 09:00] GaretJax commented on #81
@pradyunsg you have been granted access to PyPI and I approved the two PRs.
I tried to transfer the project but I don't have the rights to create public repos on the executablebooks organisation. It also does not seem possible to grant you more privileges as what you already have here. I also tried to transfer the ownership to yourself (so that you can transfer it to the org), but you already have

[2020-08-28 09:13] chrisjsewell commented on #81
@GaretJax I've just invited you as a member of executablebooks 😄

[2020-08-28 09:40] GaretJax commented on #81
Transferred!

[2020-08-28 09:43] chrisjsewell commented on #81
🎉 thanks, @pradyunsg we can start crypto mining 😂

[2020-08-28 09:45] chrisjsewell commented on #81
@pradyunsg I just gave you maintainer status

[2020-08-28 10:02] chrisjsewell commented on #87
Yes I know what it does lol

Well we can start by exposing the delay option of `Server.watch`: https://github.com/lepture/python-livereload/blob/f14bd7e1685e7b8ee1906eb391d924e1f46d26d4/livereload/server.py#L219

Given this looks pretty relevant to what we are doing in sphinx-book-theme 😬

[2020-08-28 10:31] pradyunsg commented on #87
Ah. That's ez. :P

[2020-08-28 10:34] pradyunsg commented on #81
@chrisjsewell Could you make me an admin -- I can't see webhooks and don't have the ability to manage protected branches.

[2020-08-28 10:57] pradyunsg commented on #71
Pretty sure it'll work, but that's a good catch!

I'd like to -- I'm juggling a lot of OSS projects though, so this is gonna sit on the back burner for now.

[2020-08-28 10:59] pradyunsg commented on #81
Awesome! Thank you @GaretJax! ^>^

[2020-08-28 18:04] pradyunsg commented on #87
This should be a +3/-3 code change, modifying our calls to server.watch(..., [with builder]) to have `delay=args.delay`, with `--delay`'s default changing to 3 (which matches the default of python-reload).

Add, we'll want to update the documentation (README) to correctly note the new default as well as describe the new behavior.

[2020-08-28 18:06] pradyunsg commented on #71
Addressed in c372700c628b706bc330c9f0e3062ef5f15c23c0

[2020-08-28 18:09] pradyunsg commented on #81
Note to self: make a release on 1st. :)

[2020-08-30 19:55] pradyunsg commented on #87
*Narrator: it was not "ez"*

[code]

Yea, so, it turns out, livereload does `reload_time = max(3 - delay, 1)` for some reason. No context provided, it just... does that. :)

I'm borderline in the mood to start shipping livereload.js in this package instead of dealing w/ livereload. OTOH, I did spend all of sunday triaging 900+ notifications, so my brain is very mushy right now.  >.<

[2020-08-31 05:53] pradyunsg commented on #87
Uh well. I really don't like my free time: https://github.com/lepture/python-livereload/issues/230

[2020-08-31 06:00] chrisjsewell commented on #87
😂 I'm just about pipping you to the post this month:

<img width="379" alt="image" src="https://user-images.githubusercontent.com/2997570/91687231-272a7f00-eb57-11ea-887c-7721915276bb.png">

vs

<img width="361" alt="image" src="https://user-images.githubusercontent.com/2997570/91687253-33164100-eb57-11ea-8fb1-7be44b59196a.png">

Don't forget that sphinx-book-theme was before this in the TODO list

[2020-08-31 06:11] pradyunsg commented on #87
Hehe! I haven't pushed a project with >100 commits yet. :P

![Screen-Recording-2020-08-29-at-1](https://user-images.githubusercontent.com/3275593/91688052-b9924900-eb7e-11ea-9a73-5baad491a19a.gif)

[2020-08-31 06:14] chrisjsewell commented on #87
good lad!

[2020-08-31 12:13] pradyunsg commented on #81
sphinx-autobuild 2020.9.1 is out! We're golden. Now, let's see if people report breakages, or if anyone complains. :)

[2020-08-31 12:13] #81 closed

[2020-08-31 12:14] pradyunsg commented on #81
Thanks everyone here! Definitely wouldn't have happened without y'all. ^>^

[2020-09-01 07:34] GaretJax commented on #81
Thank you @pradyunsg for resurrecting the project! :heart:

[2020-09-05 04:33] mgielda commented on #51
Hi @pradyunsg thanks for the question. I meant latexpdf, which is not available as an option?

Since then I moved away from using sphinx-autobuild; generally speaking I wanted to get a single command in one terminal (some of my users are not advanced in Sphinx/bash) and no server to be launched (not needed for a PDF). Seems like this is not something that's planned to be implemented, which is OK :

[2020-09-05 06:33] pradyunsg commented on #51
It'll be `-b latexpdf` then. -b specifies the builder for sphinx, so if you can do it in a makefile, you can do it with sphinx-autobuild.

I personally don't see why having a redundant server that doesn't affect anything about the builds is an issue TBH. Worst case, it's eating an I/O port since the server basically sits idle unless there's a network request.

Given that you're on a different work

[2020-09-08 23:06] strefli3 commented on #54
I can verify that is is still a problem on windows 10 in git-bash, but I am stuck on these versions for the foreseeable future:
[code]

[2020-09-08 23:44] mgielda commented on #51
[code]
That's what I meant. Perhaps I just have a wrong version or something.

[2020-09-20 08:01] return42 opened #97 "Use meaningfull commit messages"
**Is your feature request related to a problem? Please describe.**

We have a lot of meaningless commit messages in the last time.

**Describe the solution you'd like**

About this topic, there are a lot of articles around in the net. I fond this one concise: https://thoughtbot.com/blog/5-useful-tips-for-a-better-commit-message

**Describe alternatives you've considered**

The alternative is what

[2020-09-20 09:22] pradyunsg commented on #97
Thanks for filing this issue! Duly noted and will keep in mind going forward.

FWIW, all the relevant context is in the PR that contains this commit - https://github.com/executablebooks/sphinx-autobuild/pull/83.

The commit that's immediately after this one is "Add flit configuration" which does indeed tell the story that it's supposed to. 🤷🏻‍♂️

As for the meta discussion of good commit messages

[2020-09-20 09:22] #97 closed

[2020-09-20 10:10] return42 commented on #97
Thanks!

[2020-09-20 16:31] pradyunsg commented on #50
I've been using this for https://github.com/pradyunsg/furo's development and I reckon this is solved now. :)

[2020-09-20 16:31] #50 closed

[2020-11-05 08:58] amichuda opened #99 "Allow for generic build command (for use with jupyter-book)"
I wanted to see if it was possible to use `sphinx-autobuild` with building with `jupyter-book`. As of now it seems that this is possible as the `get_builder` function runs `sphinx` explicitly. Would it be possible to have the server watch a `sourcedir` and `outdir` but for a generic command (such as `jb build`)?

[2020-11-05 11:28] pradyunsg commented on #99
You can add `--pre-build "jb build"` today, to run that build and pass additional `--watch` options as well.

As it stands, this is a really thin wrapper over `livereload` (the Python package). It might make sense for jupyter-book to get a `serve` command that uses it. FWIW, it's even pretty straightforward to write a script that does the right thing, using only `livereload`.

[code]

[2020-11-09 05:35] jjyyxx commented on #54
Have this too. Use `-N` flag or change
https://github.com/executablebooks/sphinx-autobuild/blob/274445aba3c4bc75458f1a4c6b83f1e501fc71d4/src/sphinx_autobuild/utils.py#L50-L52

to

[code]

seems to workaround the issue. However, both methods lose color for stderr.

[2020-11-09 18:14] pradyunsg commented on #67
Assuming that the silence means that this is fixed. If not, please file a new issue with clear reproduction instructions. :)

[2020-11-09 18:14] #67 closed

[2020-11-16 01:05] FrostyX commented on #28
Hello @pradyunsg,
for what its worth, I just reproduced the issue with current Fedora packages.

- python-sphinx_rtd_theme-0.4.3-10.fc32
- python-sphinx_rtd_theme-0.4.3-14.fc33

[2020-11-16 14:10] pradyunsg commented on #28
@FrostyX Could you please go ahead and file a new issue for this, providing reproduction steps and the output of the run + the failures?

[2020-11-18 01:55] FrostyX commented on #28
@pradyunsg, I actually cannot see any failures even when using `--debug`. However, I was able to successfully pinpoint the issue. It seem, that the RTD theme is not compatible with FontAwesome 5. With version 4.7 it works fine.

As for reproducer, you can use my repo:

[code]

If you run a docker container with F32, it works fine:

[code]

Icons get rendered properly because there is `fontawesome-

[2020-11-20 07:36] Martiix opened #100 "Autobuild launch from subdir"
**Is your feature request related to a problem? Please describe.**

My index file is not located directly in the source directory, but in a sub directory because the source is shared between several sphinx build. The location of the indexfile is therefore set in the config file using `master_doc = path/to/index.rst`. This causes sphinx to provide a link in the terminal that launch at 404: Not Foun

[2020-11-29 10:16] johanneswilm opened #102 "link on pypi is not working"
The link on pypi leads to https://github.com/GaretJax/sphinx_autobuild . Clicking it leads to a 404 message. It should apparently go to executablebooks/sphinx-autobuild.

[2020-12-09 21:02] jasongrout commented on #102
It looks like this was solved in #98.

[2020-12-22 21:28] binarylandscapes opened #104 "Recommend additional workflow example for working with Jinja templates that requires -aE option"
So the improvements made in reference to https://github.com/executablebooks/sphinx-autobuild/issues/34 did provide a fix to my issue but the example in the documentation at https://github.com/executablebooks/sphinx-autobuild#working-on-a-sphinx-html-theme didn't help with a cached environment like with multiple jinja files.

So I recommend adding an additional workflow example:

**Working on a Sph

[2021-02-06 10:47] pradyunsg commented on #104
Hi @binarylandscapes! Thanks for filing this issue!

Could you clarify what you mean by "Sphinx project that contains Jinja Templating"? I'm not I follow what workflow this is recommendation is for -- is this a project containing `_templates` in the `docs/` directory<sup>1</sup>? Is this a custom theme based that's available locally on a different path?

<sup>1</sup>: I know that both of those are

[2021-02-06 15:59] binarylandscapes commented on #104
Hello,

So this is separate from the HTML template updates.

This is basically pulling in restructeredtext templates into a rst file from a .jinja file and incorporating variables from yaml dictionaries and yes I use custom paths

1. So I have a custom folder at a project level for use in multiple docs that in the make file is soft-linked into /source for each document it contains images, jinja fi

[2021-03-12 16:09] eightbit opened #107 "Output is Black on Black in VS Code"
**Thanks so much for providing this great tool!**

**Describe the bug**

When I run auto build in VS Code, much of the output is almost the same black color as the background of the terminal.
After terminating the server, invoking 'Crtl-C' a couple of times is required to restore the default color to the terminal prompt.

**To Reproduce**

Run the code:
`sphinx-autobuild . --port 8020 _build/html`

[2021-05-12 13:21] cblegare opened #108 "Missing `--keep-going` sphinx-build flags"
Hello, thanks for this very nice tool!

**Is your feature request related to a problem? Please describe.**

Some `sphinx-build` opton are missing

* [`--keep-going`](https://www.sphinx-doc.org/en/master/man/sphinx-build.html#cmdoption-sphinx-build-keep-going)

**Additional context**

related to #64

[2021-06-15 00:52] ashwin153 commented on #99
I want to use sphinx-autorebuild with sphinx-multiversion, which itself wraps the sphinx-build command to build versioned documentation. Would it be possible to parameterize the currently hard-coded `sphinx-build` invocation via a command line option (e.g., `--build-cmd`)?

[2021-09-03 10:36] tnwei commented on #102
Yup it is solved, heads up that this issue can be closed

[2021-09-13 23:20] chrisjsewell commented on #99
Heya, as I note in https://github.com/executablebooks/jupyter-book/issues/1455:

jupyter-book now has the ability for external packages to "inject" commands in to its CLI, this is for example how `jupyter-book toc` works (executablebooks/sphinx-external-toc@ec4a439/setup.cfg#L43-L44). By the same mechanism, sphinx-autobuild could inject a `jupyter-book serve` command, that is customized for jupyte

[2021-10-20 08:36] ibotty opened #111 "Allow installing pip modules (requirements.txt) from repo"
### Description / Summary

It would be great if sphinx-autobuild could install modules from `requirements.txt` automatically and when the file changes.

### Value / benefit

I am offering development-containers running in a cloud for people writing documentation.  Apart from the known issues it works great.  But installing sphinx modules via pip is not as easy for them.

### Implementation details

[2021-12-03 02:07] asmeurer opened #112 "Support recursive ** globs with --ignore"
### Description / Summary

Currently the --ignore flag supports globs, but doesn't support recursive `**`-style globs. This makes it hard to ignore directories generated by autosummary.

### Value / benefit

I have to come up with a regular expression to emulate this, which is annoying.

### Implementation details

I looked at the implementation and it wasn't straightforward to add because the way

[2022-02-10 20:37] cbarrick commented on #112
I ran into this same problem.

Deleting a directory that contains the output of sphinx-autogen/autosummary causes sphinx-autobuild to enter a rebuild loop. One rebuild is triggered per generated file. The solution is to ignore the directory all together.

As an alternative (or in addition) to supporting recursive globs, sphinx-autobuild could ignore the entire directory passed to `--ignore`, e.g.

[2022-02-25 17:49] ianhi commented on #112
Agree that it would be nice to easily ignore directories with glob. But I got this working using the `re-ignore` option.:

[code]

stopped the infinite loop

[2022-03-25 19:45] kloczek opened #114 "2021.3.14: missing git tag"
### Describe the bug

According to https://pypi.org/project/sphinx-autobuild/ altest version is 2021.3.14 however in git repo there is no coresponding git tag for that version.

### Reproduce the bug

N/A

### List your environment

_No response_

[2022-04-04 05:25] Dzordzu commented on #51
Actually it's 'cause `-b` does not use Sphinx make_mode module. The proper way, would be to allow passing directly `-M` to the `sphinx-build`, and then specify
[code]

[2022-04-20 19:59] pradyunsg commented on #114
Published. Thanks for filing this issue! ^>^

[2022-04-20 19:59] #114 closed

[2022-05-03 15:34] hugoShaka opened #115 "Paths with a double slash are not handled properly"
### Describe the bug

**context**
I try to access `http://hostname:port//index.html`

**expectation**
I expected the webserver to return the content of `index.html`

**bug**
But instead it tries to access a file named `/index.html` and returns a HTTP 403.

[code]

**problem**
This is a problem for people using sphinx themes in which some js resource path have two slashes. See https://github.com/jb

[2022-06-05 13:45] NickleDave opened #117 "Can't use `--ignore` with `doc/_build/jupyter_execute/*.ipynb` to prevent infinite loop"
### Describe the bug

**context**
Hi, thanks for developing this very useful tool.

I'm having a bit of an issue where I've added MyST-NB to a project and this causes an infinite build loop, because notebooks are detected as a change, e.g.:
[code]

**expectation**

To try and fix this, I use the `--ignore` option, like so:
[code]

**bug**
But instead I now get:

[code]

My interpretation of this e

[2022-06-05 19:36] pradyunsg commented on #111
You can do this with a pre-build command. This is done by passing `--pre-build` to sphinx-autobuild.

[code]

[2022-06-05 19:36] #111 closed

[2022-06-05 19:39] pradyunsg commented on #54
I'm pretty sure I fixed this when I reworked the output handling of this project. If someone is still seeing this, please file a new issue. :)

[2022-06-05 19:39] #54 closed

[2022-07-07 18:57] snowman2 opened #118 "ENH: Support watching single files"
### Context

In the base directory of a repository, there can be files such as `CONTRIBUTING.md` that are included in the docs by reference:
[code]

### Proposal

It would be nice to be able to watch a specific set of files:
[code]
Otherwise, there is going to be a long list of ignores.

### Tasks and updates

_No response_

[2022-08-22 02:41] JulianOrteil opened #120 "Server perpetually restarts after rebuilding documentation"
### Describe the bug

**context/problem**
Launching sphinx-autobuild from `tox` (in conjunction with `tox-conda`) results in the server continuously relaunching. Specifying
 `--no-initial` results in the server launching as expected until it detects a change and rebuilds the documentation, then this issue persists again. Also, CTRL+C is not responsive, I have to kill the terminal to quit this issu

[2022-10-13 11:46] Morikko commented on #117
Maybe `*` is interpreted by the terminal. As `echo ~/*` would list everything in your home.

In your case, `sphinx-autobuild --ignore doc/_build/jupyter_execute/*.ipynb doc doc/_build/html` could become `sphinx-autobuild --ignore doc/_build/jupyter_execute/file1.ipynb doc/_build/jupyter_execute/file2.ipynb doc doc/_build/html`.

As a result it would change the positional arguments:
[code]

And `do